@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">

    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="~/data1/images/2568298ruinsofexpensivehouseinmaineusastockphoto.jpg" alt="2568298-Ruins-of-expensive-house-in-Maine-USA-Stock-Photo" title="2568298-Ruins-of-expensive-house-in-Maine-USA-Stock-Photo" id="wows1_0" /></li>
                <li><img src="~/data1/images/8986859.jpg" alt="8986859" title="8986859" id="wows1_1" /></li>
                <li><img src="~/data1/images/appartments_img_5696.jpg" alt="appartments_IMG_5696" title="appartments_IMG_5696" id="wows1_2" /></li>
                <li><img src="~/data1/images/imageso3dnbeaj.jpg" alt="imagesO3DNBEAJ" title="imagesO3DNBEAJ" id="wows1_3" /></li>
                <li><img src="~/data1/images/mostexpensivehomeinatlanta7.jpg" alt="Most-Expensive-Home-In-Atlanta7" title="Most-Expensive-Home-In-Atlanta7" id="wows1_4" /></li>
                <li><img src="~/data1/images/mostexpensivehomewashingtonbellevue11.jpg" alt="most-expensive-home-washington-bellevue-11" title="most-expensive-home-washington-bellevue-11" id="wows1_5" /></li>
                <li><a href="http://wowslider.com"><img src="~/data1/images/omostexpensivehomesfacebook.jpg" alt="wowslideshow" title="o-MOST-EXPENSIVE-HOMES-facebook" id="wows1_6" /></a></li>
                <li><img src="~/data1/images/omostexpensivehomesvancouverfacebook.jpg" alt="o-MOST-EXPENSIVE-HOMES-VANCOUVER-facebook" title="o-MOST-EXPENSIVE-HOMES-VANCOUVER-facebook" id="wows1_7" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="2568298-Ruins-of-expensive-house-in-Maine-USA-Stock-Photo"><span><img src="~/data1/tooltips/2568298ruinsofexpensivehouseinmaineusastockphoto.jpg" alt="2568298-Ruins-of-expensive-house-in-Maine-USA-Stock-Photo" />1</span></a>
                <a href="#" title="8986859"><span><img src="~/data1/tooltips/8986859.jpg" alt="8986859" />2</span></a>
                <a href="#" title="appartments_IMG_5696"><span><img src="~/data1/tooltips/appartments_img_5696.jpg" alt="appartments_IMG_5696" />3</span></a>
                <a href="#" title="imagesO3DNBEAJ"><span><img src="~/data1/tooltips/imageso3dnbeaj.jpg" alt="imagesO3DNBEAJ" />4</span></a>
                <a href="#" title="Most-Expensive-Home-In-Atlanta7"><span><img src="~/data1/tooltips/mostexpensivehomeinatlanta7.jpg" alt="Most-Expensive-Home-In-Atlanta7" />5</span></a>
                <a href="#" title="most-expensive-home-washington-bellevue-11"><span><img src="~/data1/tooltips/mostexpensivehomewashingtonbellevue11.jpg" alt="most-expensive-home-washington-bellevue-11" />6</span></a>
                <a href="#" title="o-MOST-EXPENSIVE-HOMES-facebook"><span><img src="~/data1/tooltips/omostexpensivehomesfacebook.jpg" alt="o-MOST-EXPENSIVE-HOMES-facebook" />7</span></a>
                <a href="#" title="o-MOST-EXPENSIVE-HOMES-VANCOUVER-facebook"><span><img src="~/data1/tooltips/omostexpensivehomesvancouverfacebook.jpg" alt="o-MOST-EXPENSIVE-HOMES-VANCOUVER-facebook" />8</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery slideshow</a> by WOWSlider.com v8.6</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    <!-- End WOWSlider.com BODY section -->


    @*<h1>Exclimmo 2016</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>